@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<h4>About the project</h4>

<p>
    Hi, my name is Marialine. <br>
    This is a project that I've made. It has been build with Visual Studio. <br />
    It is a Blog. Hope you like it! <br>
</p>

<br>
<br>

<h6>Lorem ipsum</h6>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac turpis ut purus rutrum rutrum ac eu nibh. Integer fermentum congue rutrum. Praesent nec sapien ipsum. <br />
    Vivamus egestas orci a nibh pharetra fringilla. Aliquam blandit, turpis et tincidunt rhoncus, urna lectus rhoncus ligula, at mattis nunc risus vel leo.<br />
    Vestibulum egestas, justo vitae molestie volutpat, sapien orci auctor massa, id sagittis nulla neque vitae ante. Donec mattis leo sit amet finibus rhoncus. Maecenas finibus lacus ac scelerisque pulvinar.<br />
    Etiam pharetra enim vitae justo malesuada tempus et in libero. Aliquam at ex vestibulum est tincidunt laoreet. Sed et mollis sem, ut pharetra sem. <br />
</p>

<h6>Aliquam</h6>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac turpis ut purus rutrum rutrum ac eu nibh. Integer fermentum congue rutrum. Praesent nec sapien ipsum. <br />
    Vivamus egestas orci a nibh pharetra fringilla. Aliquam blandit, turpis et tincidunt rhoncus, urna lectus rhoncus ligula, at mattis nunc risus vel leo.<br />
    Vestibulum egestas, justo vitae molestie volutpat, sapien orci auctor massa, id sagittis nulla neque vitae ante. Donec mattis leo sit amet finibus rhoncus. Maecenas finibus lacus ac scelerisque pulvinar.<br />
    Etiam pharetra enim vitae justo malesuada tempus et in libero. Aliquam at ex vestibulum est tincidunt laoreet. Sed et mollis sem, ut pharetra sem. <br />
</p>

<h6>Sed scelerisque</h6>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac turpis ut purus rutrum rutrum ac eu nibh. Integer fermentum congue rutrum. Praesent nec sapien ipsum. <br />
    Vivamus egestas orci a nibh pharetra fringilla. Aliquam blandit, turpis et tincidunt rhoncus, urna lectus rhoncus ligula, at mattis nunc risus vel leo.<br />
    Vestibulum egestas, justo vitae molestie volutpat, sapien orci auctor massa, id sagittis nulla neque vitae ante. Donec mattis leo sit amet finibus rhoncus. Maecenas finibus lacus ac scelerisque pulvinar.<br />
    Etiam pharetra enim vitae justo malesuada tempus et in libero. Aliquam at ex vestibulum est tincidunt laoreet. Sed et mollis sem, ut pharetra sem. <br />
</p>

<h6>Suspendisse vulputate</h6>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ac turpis ut purus rutrum rutrum ac eu nibh. Integer fermentum congue rutrum. Praesent nec sapien ipsum. <br />
    Vivamus egestas orci a nibh pharetra fringilla. Aliquam blandit, turpis et tincidunt rhoncus, urna lectus rhoncus ligula, at mattis nunc risus vel leo.<br />
    Vestibulum egestas, justo vitae molestie volutpat, sapien orci auctor massa, id sagittis nulla neque vitae ante. Donec mattis leo sit amet finibus rhoncus. Maecenas finibus lacus ac scelerisque pulvinar.<br />
    Etiam pharetra enim vitae justo malesuada tempus et in libero. Aliquam at ex vestibulum est tincidunt laoreet. Sed et mollis sem, ut pharetra sem. <br />
</p>

