@model IEnumerable<BlogApp.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row pb-3">
        @if (Model != null)
        {
            @foreach (var post in Model)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="row p-2">
                        <div class="col-12 p-1" style="border:1px solid #000000; border-radius: 5px">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <p class="card-title h5 text-primary">@post.Title</p>
                                        <p class="card-title text-info">by <b>@post.Author</b></p>
                                        <p>@post.Body</p>
                                    </div>
                                </div>
                                <div>
                                    <a class="btn btn-primary form-control m-2" style="width:120px" href="/Posts/Details/@post.Id">
                                        Details
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No posts available.</p>
        }

    </div>
</div>

